{% extends 'base.html' %}

{% block content %}

<style>
    .header {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 20px;
        background: #3a4750;
        color: #fff;
        font-size: 2em;
    }

    .header img {
        margin-right: 10px;
        width: 50px; /*adjust the size as needed*/
        height: 50px; /*adjust the size as needed*/
        border-radius: 50%; /
    }
</style>

    <div class="header">
        TOOLS/WASTEDBOT
    </div>
</div>

<div class="askai-frame-embed" data-id="RKQAVqj1nLANN9SSCj2uyGzdFq14rd"></div>
<script defer type="text/javascript" src="https://myaskai.com/embed-js-min"></script>

{% endblock %}
